:root {
    --verde: #1A3327;
    --verde-escuro: #0C1717;
    --verde-claro: #08A57C;
    --branco: #F2F6F2;

    --amarelo-tabela-IMC: #EAD200;
    --verde-tabela-IMC: #276648;
    --laranja-tabela-IMC: #FF7A00;
    --vermelho-tabela-IMC: #FF2525;
}

h1 {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
}